/* src/css/sidebar.css */

#sidebar {
  position: fixed;
  top: 0;
  left: -299px;
  width: 300px;
  height: 100vh;
  background-color: #2c2c2c;
  transition: left 0.5s;
  z-index: 9999;
}

#sidebar:hover {
  left: 0;
}

#sidebar-content {
  padding: 20px;
}

/* Add your desired styling for the sidebar content here */

#sidebar-title {
  position: relative;
  top: 100px;
  left: 20px;
  color: white;

  transition-duration: 1s;
}

#sidebar-title:hover {
  color: #FFFF00
}
#sidebar-list {
  position: relative;
  top: 100px;
}

ol {
  color: white;
  list-style: none;
}
